body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.coverage-container input {
  margin-left: auto;
  max-width: 100px;
  padding-right: 22px;
  position: relative;
}

.percentage {
  font-weight: bold;
  position: absolute;
  right: 12px;
  transform: translateY(-50%);
  top: 50%;
}

.demand-capture-table .form-group {
  margin: 0;
}

.store-status-header {
  min-width: 140px;
}

.table-max-height-1000 {
  max-height: 1000px;
}

.table .sticky-left-data {
  left: 0;
  position: sticky;
  z-index: 5;
}

.table .sticky-top-data {
  position: sticky;
  top: 0;
  z-index: 10;
}

.table .sticky-left-data.sticky-top-data {
  z-index: 15;
}